* {
  align-content: center;
  justify-content: center;
  text-align: center;
}

html {
  height: 90%;
}

body {
  background: #111;
  color: white;
  font-family: Arial;
  height: 100%;

  h1,
  h4 {
    margin: 3px;
    color: rgb(81, 61, 211);
  }
  img {
    border-radius: 30px;
  }
}

nav {
  display: flex;
  gap: 30px
}

a {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(81, 61, 211);
  text-decoration: none;
  color: white;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  width: 80px;
}

a:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 30px rgba(33, 8, 80, 0.6);
}