body {
  background:#111;
  color:white;
  font-family:Arial;
}

.card, .cart-item, .venta {
  background:#222;
  padding:10px;
  margin:10px;
  border-radius:8px;
}

button {
  background:#8b5cf6;
  border:none;
  padding:8px 12px;
  border-radius:20px;
  color:white;
}