#carrito {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 900px;
  margin: 0 auto 40px;
}

* {
  justify-content: center;
  text-align: center;
}

body {
  background: #111;
  color: white;
  font-family: 'Inter', sans-serif;
  height: 100%;

  h1,
  h4 {
    margin: 3px;
    color: rgb(81, 61, 211);
  }

  header {
    background-color: black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      padding-left: 50px;
      padding-right: 50px;
    }
  }

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: rgb(81, 61, 211);
    transition: transform 0.25s ease, filter 0.25s ease;
    justify-items: center;

    p {
      margin: 0;
      font-weight: bold;
    }

    i {
      justify-self: center;
      display: flex;
    }
  }

  a:hover {
    transform: translateY(-6px);
    filter: drop-shadow(0 15px 30px rgba(156, 146, 248, 0.6));
  }

  header~button {
    background-color: rgb(81, 61, 211);
    color: white;
    padding: 10px;
    border: 0;
    border-radius: 10px;
    transition: transform 0.25s ease, filter 0.25s ease;
  }

  header~button:hover {
    background-color: rgb(112, 96, 223);
    transform: translateY(-6px);
    filter: drop-shadow(0 15px 30px rgba(156, 146, 248, 0.6));
  }
}